<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="seller_identification_approval" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Seller Identification Approval</label>
            <tab>landofcoder</tab>
            <resource>Lofmp_SellerIdentificationApproval::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_when_register" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show When Register</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_when_becomeseller" translate="label" type="select" sortOrder="16" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show When Become A Seller</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="require" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Require When Register</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="company_registration" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Company Registration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_update" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allow Seller Update</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="file_formats" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>File formats for upload</label>
                    <validate>alpha-numeric-space</validate>
                    <comment><![CDATA[Separate each file extension with a comma. Special symbols like dots, converted commas, asterisk, etc. are not allowed.]]></comment>
                </field>
                <field id="maximum_file_size" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Maximum file size</label>
                    <validate>not-negative-amount</validate>
                    <comment><![CDATA[File size in MB. Note that this setting can be overridden by the server settings.]]></comment>
                </field>
            </group>
            <group id="identity" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Proof of Identity</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_update" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allow Seller Update</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="file_formats" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>File formats for upload</label>
                    <validate>alpha-numeric-space</validate>
                    <comment><![CDATA[Separate each file extension with a comma. Special symbols like dots, converted commas, asterisk, etc. are not allowed.]]></comment>
                </field>
                <field id="maximum_file_size" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Maximum file size</label>
                    <validate>not-negative-amount</validate>
                    <comment><![CDATA[File size in MB. Note that this setting can be overridden by the server settings.]]></comment>
                </field>
            </group>
            <group id="utility_address" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Utility Address</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_update" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allow Seller Update</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="file_formats" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>File formats for upload</label>
                    <validate>alpha-numeric-space</validate>
                    <comment><![CDATA[Separate each file extension with a comma. Special symbols like dots, converted commas, asterisk, etc. are not allowed.]]></comment>
                </field>
                <field id="maximum_file_size" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Maximum file size</label>
                    <validate>not-negative-amount</validate>
                    <comment><![CDATA[File size in MB. Note that this setting can be overridden by the server settings.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
