<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seller_identification_approval>
            <company_registration>
                <enabled>1</enabled>
                <allow_update>1</allow_update>
                <file_formats>doc,docx,xls,xlsx,pdf,txt,jpg,png,jpeg</file_formats>
                <maximum_file_size>2</maximum_file_size>
            </company_registration>
            <identity>
                <enabled>1</enabled>
                <allow_update>1</allow_update>
                <file_formats>doc,docx,xls,xlsx,pdf,txt,jpg,png,jpeg</file_formats>
                <maximum_file_size>2</maximum_file_size>
            </identity>
            <utility_address>
                <enabled>1</enabled>
                <allow_update>1</allow_update>
                <file_formats>doc,docx,xls,xlsx,pdf,txt,jpg,png,jpeg</file_formats>
                <maximum_file_size>2</maximum_file_size>
            </utility_address>
        </seller_identification_approval>
    </default>
</config>
