<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CoreMarketplace_ProductAttributesLink::product_attributes_link" title="Attributes Mapping" translate="title" module="CoreMarketplace_ProductAttributesLink" sortOrder="19" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link"/>

        <add id="CoreMarketplace_ProductAttributesLink::attribute_set_mapping" title="Attribute Set Mapping" translate="title" module="Magento_Catalog" sortOrder="10" parent="CoreMarketplace_ProductAttributesLink::product_attributes_link" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link"/>
        <add id="CoreMarketplace_ProductAttributesLink::categories_attribute_set_mapping" title="Categories" module="CoreMarketplace_ProductAttributesLink" sortOrder="11" action="productattributeslink/attributeset/categories" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link" parent="CoreMarketplace_ProductAttributesLink::attribute_set_mapping"/>
        <add id="CoreMarketplace_ProductAttributesLink::attributes_attribute_set_mapping" title="Attributes" module="CoreMarketplace_ProductAttributesLink" sortOrder="13" action="productattributeslink/attributeset/attributes" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link" parent="CoreMarketplace_ProductAttributesLink::attribute_set_mapping"/>
        <add id="CoreMarketplace_ProductAttributesLink::import_attribute_set_mapping" title="Import" module="CoreMarketplace_ProductAttributesLink" sortOrder="14" action="productattributeslink/attributeset/import" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link" parent="CoreMarketplace_ProductAttributesLink::attribute_set_mapping"/>

        <add id="CoreMarketplace_ProductAttributesLink::attribute_options_mapping" title="Attribute Options Mapping" translate="title" module="Magento_Catalog" sortOrder="20" parent="CoreMarketplace_ProductAttributesLink::product_attributes_link" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link"/>
        <add id="CoreMarketplace_ProductAttributesLink::attributes_attributes_option_mapping" title="Attributes" module="CoreMarketplace_ProductAttributesLink" sortOrder="15" action="productattributeslink/attributeoption/attributes" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link" parent="CoreMarketplace_ProductAttributesLink::attribute_options_mapping"/>
        <add id="CoreMarketplace_ProductAttributesLink::categories_attribute_option_mapping" title="Categories" module="CoreMarketplace_ProductAttributesLink" sortOrder="16" action="productattributeslink/attributeoption/categories" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link" parent="CoreMarketplace_ProductAttributesLink::attribute_options_mapping"/>
        <add id="CoreMarketplace_ProductAttributesLink::import_attribute_option_mapping" title="Import" module="CoreMarketplace_ProductAttributesLink" sortOrder="17" action="productattributeslink/attributeoption/import" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link" parent="CoreMarketplace_ProductAttributesLink::attribute_options_mapping"/>

        <add id="CoreMarketplace_ProductAttributesLink::mapping_group" title="Mapping Group" translate="title" module="Magento_Catalog" sortOrder="20" parent="CoreMarketplace_ProductAttributesLink::product_attributes_link" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link"/>
        <add id="CoreMarketplace_ProductAttributesLink::mapping_group_listing" title="Manage Mapping Group" module="CoreMarketplace_ProductAttributesLink" sortOrder="18" action="productattributeslink/group/index" resource="CoreMarketplace_ProductAttributesLink::product_attributes_link" parent="CoreMarketplace_ProductAttributesLink::mapping_group"/>
    </menu>
</config>