<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Lofmp\SellerMembership\Block\Membership\Index" type="CoreMarketplace\SellerMembership\Block\Membership\Index" />
    <preference for="Lofmp\SellerMembership\Controller\Marketplace\Membership\Index" type="CoreMarketplace\SellerMembership\Controller\Marketplace\Membership\Index" />
</config>
